mixin panel 
    .panel 
        .panel__switch
            input.panel__switch-input(id="range" name="range" type="checkbox")
            label.panel__switch-label(for="range") Range
        .panel__switch
            input.panel__switch-input(id="vertical" name="vertical" type="checkbox")
            label.panel__switch-label(for="vertical") Vertical
        .panel__switch
            input.panel__switch-input(id="scale" name="scale" type="checkbox")
            label.panel__switch-label(for="scale") Scale
        .panel__switch
            input.panel__switch-input(id="tip" name="tip" type="checkbox")
            label.panel__switch-label(for="tip") Tip
        .panel__switch
            input.panel__switch-input(id="bar" name="bar" type="checkbox")
            label.panel__switch-label(for="bar") Bar