* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

:root {
    --secondary-gradient-color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

#root {
    padding-top: 20px;
    padding-left: 50px;
    width: 380px;
    height: 180px;
}

.range-slider {
    height: 100%;
    &__outer {
        width: 100%;
        height: 100%;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        height: 6px;
        // width: 6px;
        //     height: 100%;
        background: inherit;
        border: 1px solid rgba(31, 32, 65, 0.25);   
        border-radius: 3px;
        &_vertical {
            width: 6px;
            height: 100%;
        }
    }
    &__thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        width: 14px; 
        height: 14px;
        border-radius: 50%;
        // width: 24px; 
        // height: 12px;
        background: var(--secondary-gradient-color);
        border: 2px solid #FFFFFF;
    }
    &__range-bg {
        position: absolute;
        top: -1px;
        left: -1px;
        width: 6px; 
        height: 6px;
        margin-left: 0;
        background: var(--secondary-gradient-color);  
        border-radius: 3px;
    }
    &__scale {
        padding: 0;
        margin: 0;
        margin-left: 2px;
        margin-top: 10px;
        list-style-type: none;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        li {
            font-size: 10px;
        }
        &_vertical {
            margin-left: 10px;
            margin-top: 2px;
        }
    }
    &__result {
        display: block;
        &:nth-child(2) {
            margin-bottom: 15px;
        }
    }
    &__input {
        display: none;
    }
}