:root {
  --range-slider-color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.range-slider {
  box-sizing: border-box;
  height: 100%;
  padding-top: 30px;
  &__outer {
    width: 100%;
    height: 100%;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 6px;
    background: inherit;
    cursor: pointer;
    &_vertical {
      width: 6px;
      height: 100%;
    }
  }
  &__thumb {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 14px; 
    height: 14px;
    border-radius: 50%;
    background: var(--range-slider-color);
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
  &__range-bg {
    position: absolute;
    width: 6px; 
    height: 6px;
    margin-left: 0;
    background: var(--range-slider-color);  
    border-radius: 3px;
  }
  &__scale {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    li {
      font-size: 10px;
      cursor: pointer;
    }
    &_vertical {
      position: relative;
      margin-top: 0;
      margin-right: 10px;
    }
  }
  &__result {
    position: absolute;
    top: -25px;
    left: 0;
    transform: translate(-50%, -50%);
    display: block;
    &_vertical {
      transform: translate(0, -50%);
    }
    &:nth-child(2) {
      margin-bottom: 15px;
    }
  }
  &__input {
    display: none;
  }
  &__border {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    z-index: 0;
  }
}